/* wecon -- Web Console emulator
 * https://github.com/CylonicRaider/wecon */

/* Generic styles */
.wecon, .wecon pre {
  margin: 0;
  padding: 0;
}

/* Main container */
.wecon {
  display: flex;
  overflow: auto;
  line-height: 1.1;
  background: #101010;
  color: white;
}

/* Content area */
.wecon pre {
  display: none;
  margin: 0 auto auto 0;
  background: black;
  overflow: hidden;
  box-sizing: border-box;
  cursor: text;
}
.wecon pre.visible {
  display: block;
}
.wecon pre.fixed-width {
  margin-left: auto;
}
.wecon pre.fixed-height {
  margin-top: auto;
}
.wecon pre.scroll {
  overflow-y: scroll;
}

/* Measurement box */
.wecon pre::before {
  content: "";
  display: none;
  width: 1ch;
  height: 1.1em;
}

/* Lines */
.wecon pre div {
  height: 1.1em;
  overflow: hidden;
}

/* Character cells */
.wecon pre span {
  display: inline-block;
  position: relative;
  width: 1ch;
  height: 100%;
  text-align: center;
  vertical-align: top;
  overflow: hidden;
}

/* Cursor */
.wecon pre .cursor::after {
  content: "\2007"; /* U+2007 FIGURE SPACE */
  position: absolute;
  left: 0;
  width: 1ch;
  text-decoration: underline;
  pointer-events: none;
  animation: wecon-blink 0.5s linear infinite;
}

/* Cursor after last column */
.wecon pre .cursor.overflow {
  overflow: visible;
}
.wecon pre .cursor.overflow::after {
  left: -1ch;
}

@keyframes wecon-blink {
  from { visibility: visible; }
  50% { visibility: hidden; }
  to { visibility: hidden; }
}

/* Display attributes */
.wecon [data-attrs~=bold] {
  font-weight: bold;
}
.wecon [data-attrs~=dim] {
  filter: brightness(0.5);
}
.wecon [data-attrs~=italic] {
  font-style: italic;
}
.wecon [data-attrs~=underline] {
  text-decoration: underline;
}
.wecon [data-attrs~=blink] {
  animation: wecon-blink 1s linear infinite;
}
.wecon [data-attrs~=fastblink] {
  animation: wecon-blink 0.25s linear infinite;
}
.wecon [data-attrs~=reverse] {
  filter: invert(1);
}
.wecon [data-attrs~=hidden] {
  visibility: hidden;
}
.wecon [data-attrs~=strike] {
  text-decoration: line-through;
}
.wecon [data-attrs~=dblunderline] {
  text-decoration: double underline;
}

/* Colors */
.wecon [data-attrs~=fg-default] { color:      #AAAAAA; }
.wecon [data-attrs~=bg-default] { background: #000000; }
.wecon [data-attrs~=fg-0]  { color:      #000000; }
.wecon [data-attrs~=bg-0]  { background: #000000; }
.wecon [data-attrs~=fg-1]  { color:      #AA0000; }
.wecon [data-attrs~=bg-1]  { background: #AA0000; }
.wecon [data-attrs~=fg-2]  { color:      #00AA00; }
.wecon [data-attrs~=bg-2]  { background: #00AA00; }
.wecon [data-attrs~=fg-3]  { color:      #AA5500; }
.wecon [data-attrs~=bg-3]  { background: #AAAA00; }
.wecon [data-attrs~=fg-4]  { color:      #0000AA; }
.wecon [data-attrs~=bg-4]  { background: #0000AA; }
.wecon [data-attrs~=fg-5]  { color:      #AA00AA; }
.wecon [data-attrs~=bg-5]  { background: #AA00AA; }
.wecon [data-attrs~=fg-6]  { color:      #00AAAA; }
.wecon [data-attrs~=bg-6]  { background: #00AAAA; }
.wecon [data-attrs~=fg-7]  { color:      #AAAAAA; }
.wecon [data-attrs~=bg-7]  { background: #AAAAAA; }
.wecon [data-attrs~=fg-8]  { color:      #555555; }
.wecon [data-attrs~=bg-8]  { background: #555555; }
.wecon [data-attrs~=fg-9]  { color:      #FF5555; }
.wecon [data-attrs~=bg-9]  { background: #FF5555; }
.wecon [data-attrs~=fg-10] { color:      #55FF55; }
.wecon [data-attrs~=bg-10] { background: #55FF55; }
.wecon [data-attrs~=fg-11] { color:      #FFFF55; }
.wecon [data-attrs~=bg-11] { background: #FFFF55; }
.wecon [data-attrs~=fg-12] { color:      #5555FF; }
.wecon [data-attrs~=bg-12] { background: #5555FF; }
.wecon [data-attrs~=fg-13] { color:      #FF55FF; }
.wecon [data-attrs~=bg-13] { background: #FF55FF; }
.wecon [data-attrs~=fg-14] { color:      #55FFFF; }
.wecon [data-attrs~=bg-14] { background: #55FFFF; }
.wecon [data-attrs~=fg-15] { color:      #FFFFFF; }
.wecon [data-attrs~=bg-15] { background: #FFFFFF; }
