/* wecon -- Web Console emulator
 * https://github.com/CylonicRaider/wecon */

/* Generic styles */
.wecon, .wecon pre {
  margin: 0;
  padding: 0;
}

/* Main container */
.wecon {
  display: flex;
  overflow: auto;
  line-height: 1;
  background: #101010;
  color: white;
}

/* Content area */
.wecon pre {
  margin: 0 auto auto 0;
  background: black;
  overflow: hidden;
  box-sizing: content-box;
  cursor: text;
}
.wecon pre.scroll {
  overflow-y: scroll;
}

/* Measurement box */
.wecon pre::before {
  content: "";
  display: none;
  width: 1ch;
  height: 1em;
}

/* Lines */
.wecon pre div {
  height: 1em;
  overflow: hidden;
}

/* Character cells */
.wecon pre .cell {
  display: inline-block;
  width: 1ch;
  text-align: center;
  overflow: hidden;
}

/* Cursor */
.wecon pre .cursor {
  display: inline-block;
  width: 0;
  height: 1em;
  vertical-align: top;
}
.wecon pre .cursor::after {
  content: "\2007"; /* U+2007 FIGURE SPACE */
  text-decoration: underline;
  animation: wecon-blink 0.5s linear infinite;
}

/* Cursor after last column */
.wecon pre .cursor.overflow {
  margin-left: -1ch;
}

@keyframes wecon-blink {
  from { visibility: visible; }
  50% { visibility: hidden; }
  to { visibility: hidden; }
}
